<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-content scroll-div">
            {# User Profile Section #}
            <div class="">
                <div class="main-menu-header">
                    <img class="img-radius" src="{{ asset('assets/images/user/avatar-2.jpg') }}" alt="User-Profile-Image">
                    <div class="user-details">
                        <span>{{ user.name|default('John Doe') }}</span>
                        <div id="more-details">{{ user.role|default('UX Designer') }}<i class="fa fa-chevron-down m-l-5"></i></div>
                    </div>
                </div>
                <div class="collapse" id="nav-user-link">
                    <ul class="list-unstyled">
                        <li class="list-group-item"><a ><i class="feather icon-user m-r-5"></i>View Profile</a></li>
                        <li class="list-group-item"><a href="#!"><i class="feather icon-settings m-r-5"></i>Settings</a></li>
                        <li class="list-group-item"><a ><i class="feather icon-log-out m-r-5"></i>Logout</a></li>
                    </ul>
                </div>
            </div>
            
            {# Main Navigation Menu #}
            <ul class="nav pcoded-inner-navbar">
                {# Navigation Section #}
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li class="nav-item">
                    <a  class="nav-link {% if app.request.get('_route') == 'dashboard' %}active{% endif %}">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">Dashboard</span>
                    </a>
                </li>

                {# Page Layouts Section #}
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-layout"></i></span>
                        <span class="pcoded-mtext">Page layouts</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li><a  target="_blank">Vertical</a></li>
                        <li><a  target="_blank">Horizontal</a></li>
                    </ul>
                </li>

                {# UI Elements Section #}
                <li class="nav-item pcoded-menu-caption">
                    <label>UI Element</label>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-box"></i></span>
                        <span class="pcoded-mtext">Basic</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li><a>Alert</a></li>
                        <li><a >Button</a></li>
                        <li><a >Badges</a></li>
                        <li><a>Breadcrumb & paggination</a></li>
                        <li><a >Cards</a></li>
                        <li><a >Collapse</a></li>
                        <li><a >Carousel</a></li>
                        <li><a >Grid system</a></li>
                        <li><a >Progress</a></li>
                        <li><a >Modal</a></li>
                        <li><a >Spinner</a></li>
                        <li><a >Tabs & pills</a></li>
                        <li><a >Typography</a></li>
                        <li><a >Tooltip & popover</a></li>
                        <li><a >Toasts</a></li>
                        <li><a >Other</a></li>
                    </ul>
                </li>

                {# Forms & Tables Section #}
                <li class="nav-item pcoded-menu-caption">
                    <label>Forms &amp; table</label>
                </li>
                <li class="nav-item">
                    <a  class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-file-text"></i></span>
                        <span class="pcoded-mtext">Forms</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-align-justify"></i></span>
                        <span class="pcoded-mtext">Bootstrap table</span>
                    </a>
                </li>

                {# Chart & Maps Section #}
                <li class="nav-item pcoded-menu-caption">
                    <label>Chart & Maps</label>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span>
                        <span class="pcoded-mtext">Chart</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-map"></i></span>
                        <span class="pcoded-mtext">Maps</span>
                    </a>
                </li>

                {# Pages Section #}
                <li class="nav-item pcoded-menu-caption">
                    <label>Pages</label>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-lock"></i></span>
                        <span class="pcoded-mtext">Authentication</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li><a target="_blank">Sign up</a></li>
                        <li><a  target="_blank">Sign in</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a  class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Sample page</span>
                    </a>
                </li>
            </ul>
            
            {# Upgrade Card #}
            <div class="card text-center">
                <div class="card-block">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="feather icon-sunset f-40"></i>
                    <h6 class="mt-3">Upgrade To Pro</h6>
                    <p>Please contact us on our email for need any support</p>
                    <a href="https://1.envato.market/PgJNQ" target="_blank" class="btn btn-primary btn-sm text-white m-0">Upgrade</a>
                </div>
            </div>
        </div>
    </div>
</nav>