{% extends 'back/base.html.twig' %}

{% block title %}New Statut{% endblock %}

{% block body %}
    <h1>Create new Statut</h1>

    {{ include('forum/statut/_form.html.twig') }}

    <a href="{{ path('app_statut_index') }}">back to list</a>
{% endblock %}
