{% extends 'front/employee_home/index.html.twig' %}

{% block title %}Edit Reservation{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="page-title">
            <div class="title_left">
                <h5><a href="{{ path('app_reservationtransport_index') }}">← Back to Reservation List</a></h5>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Edit Reservation</h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <!-- Include the form from the separate file -->
                        {{ include('reservationtransport/_form.html.twig', {'button_label': 'Update'}) }}
                    </div>

                    <div class="ln_solid"></div>

                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <!-- Cancel Button (Back to the previous page) -->
                            <button type="button" class="btn btn-warning" onclick="window.history.back();">Cancel</button>

                            <!-- Submit button -->
                            <button type="submit" form="reservationtransport_form" class="btn btn-primary">{{ button_label|default('Save') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
