
{% extends 'back/base.html.twig' %}

{% block title %}New Voyage{% endblock %}

{% block body %}

{% for label, messages in app.flashes %}
{% for message in messages %}
    <div class="alert alert-{{ label }}">
        {{ message }}
    </div>
{% endfor %}
{% endfor %}
    {{ include('back/manager/voyage/_form.html.twig') }}

  
{% endblock %}