{% extends 'base.html.twig' %}

{% block title %}Edit Flight{% endblock %}

{% block body %}
    <h1>Edit Flight</h1>

    {{ include('flight/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_flight_index') }}">back to list</a>

    {{ include('flight/_delete_form.html.twig') }}
{% endblock %}
