{% extends 'back/base.html.twig' %}

{% block title %}New Commentaire{% endblock %}

{% block body %}
    <h1>Create new Commentaire</h1>

    {{ include('forum/commentaire/_form.html.twig') }}

<<<<<<< HEAD
    <a href="{{ path('app_commentaire_index') }}">back to list</a>
=======
    <a href="{{ path('app_statut_index') }}">back to list</a>
>>>>>>> 09b8388c89382e4ec195998d936bfb04cb5d37ed
{% endblock %}
